{% for register in registers.register %}
struct {{register.name}}_s {
{% if register.fields is defined %}
{% for field in register.fields.field %}
    Bitfield<{{field.bitOffset}}, {{field.bitWidth}}> {{field.name}}_b;
{% endfor %}

    {{register.name}}_s(REG_ADDR base) :
{% for field in register.fields.field %}
        {{field.name}}_b{base}
{%- if not loop.last %}
,
{% else %}
 {};
{% endif %}
{% endfor %}
{% else %}
    {{register.name}}_s(REG_ADDR base){};
{% endif %}
    };
{% endfor %}