#ifndef _SVD_2_CPP_OBJECTS_{{NAME}}_INCLUDE_HPP_
#define _SVD_2_CPP_OBJECTS_{{NAME}}_INCLUDE_HPP_



#include "Bitfield.hpp"
#include "Register.hpp"
#include "Peripheral.hpp"
#include "Types.hpp"
{% if attr_derivedFrom is defined %}
#include "{{attr_derivedFrom}}.hpp"
{% endif %}

namespace Svd2cppObjects
{
namespace {{groupName}}
{



{% if attr_derivedFrom is not defined %}
{% if groupName != NAME %}
namespace {{NAME}}_namespace
{
{% endif %}
{% endif %}



{% if attr_derivedFrom is defined %}


using {{NAME}} = Peripheral<{{baseAddress}}, {{attr_derivedFrom}}register>;
{% else %}

{% include 'bitfields_struct.j2' %}
{% if groupName != NAME %}
}// namespace {{NAME}}_namespace
{% endif %}

{% include 'register_struct.j2' %}


/// @brief {{description | replace("\n", " ")}}
{% if groupName != NAME %}
using {{NAME}} = Peripheral<{{baseAddress}}, {{NAME}}register>;
{% else %}
{% if attr_derivedFrom is defined %}
using {{NAME}} = Peripheral<{{baseAddress}}, {{attr_derivedFrom}}register>;
{% else %}
using {{NAME}} = Peripheral<{{baseAddress}}, {{NAME}}register>;
{% endif %}

{% endif %}

{% endif %}


} // namespace {{groupName}}
} // namespace Svd2cppObjects

#endif  // _SVD_2_CPP_OBJECTS_{{NAME}}_INCLUDE_HPP_