
            struct {{peripheral}}_ {

{% for register in registers.register %}
{% if attr_derivedFrom is not defined %}
                /// @brief {{register.description | replace("\n", " ")}}
                Register<{{register.addressOffset}}, {{peripheral}}_{{register.name}}_, {{register.resetValue}}> {{register.name}};
{% endif %}

{% endfor %}

                {{peripheral}}_(REG_ADDR base) : 
{% for register in registers.register %}
                {{register.name}}{base}
{%- if not loop.last %}
,
{% else %}
 {};
{% endif %}
{% endfor %}
            };
