#ifndef _SVD_2_CPP_OBJECTS_{{NAME}}_INCLUDE_HPP_
#define _SVD_2_CPP_OBJECTS_{{NAME}}_INCLUDE_HPP_



#include "Bitfield.hpp"
#include "Register.hpp"
#include "Peripheral.hpp"
#include "Types.hpp"

namespace Svd2cppObjects {
namespace {{NAME}}_n {


{% if attr_derivedFrom is defined %}
#include "{{attr_derivedFrom}}.hpp"




using {{NAME}}_p = Peripheral<{{baseAddress}}, Svd2cppObjects::{{attr_derivedFrom}}_n::{{attr_derivedFrom}}_p>;
{% else %}
// Register definitions

{% include 'bitfields_struct.j2' %}

{% include 'register_struct.j2' %}


using {{NAME}}_p = Peripheral<{{baseAddress}}, {{NAME}}_s>;

{% endif %}

} // namespace {{NAME}}_n
} // namespace Svd2cppObjects

#endif  // _SVD_2_CPP_OBJECTS_{{NAME}}_INCLUDE_HPP_