{% for register in registers.register %}
            struct {{peripheral}}_{{register.name}}_ 
            {
{% if register.fields is defined %}
{% for field in register.fields.field %}
                /// @brief {{field.description | replace("\n", " ")}}
                Bitfield<{{field.bitOffset}}, {{field.bitWidth}}> {{field.name}};
{% endfor %}

                {{peripheral}}_{{register.name}}_(REG_ADDR base) :
{% for field in register.fields.field %}
                {{field.name}}{base}
{%- if not loop.last %}
,
{% else %}
 {};
{% endif %}
{% endfor %}
{% else %}
    {{register.name}}_(REG_ADDR base){};
{% endif %}
            };

{% endfor %}