
struct {{NAME}}register {

{% for register in registers.register %}
{% if attr_derivedFrom is not defined %}
    /// @brief {{register.description | replace("\n", " ")}}
{% if groupName != NAME %}
    Register<{{register.addressOffset}}, {{NAME}}_namespace::{{register.name}}register, {{register.resetValue}}> {{register.name}}_;
{% else %}
    Register<{{register.addressOffset}}, {{NAME}}::{{register.name}}register, {{register.resetValue}}> {{register.name}}_;
{% endif %}
{% endif %}

{% endfor %}

    {{NAME}}register(REG_ADDR base) : 
{% for register in registers.register %}
        {{register.name}}_{base}
{%- if not loop.last %}
,
{% else %}
 {};
{% endif %}
{% endfor %}
};
