
#include "{{platform}}.hpp"

#include <cassert>

using namespace Svd2cppObjects::{{platform}};

PeripheralFactory* PeripheralFactory::instance_ = nullptr;

int main(void)
{

    auto GPIOG = PeripheralFactory::instance()->createGPIOG();

    // Do not do anything else than read this pointer address (SEGFAULT)
    auto p = GPIOG->ODR->ODR6->internalAddress();

    assert(p);

    return 0;
}
