
#include "{{platform}}.hpp"


using namespace Svd2cppObjects::{{platform}};

PeripheralFactory* PeripheralFactory::instance_ = nullptr;

int main(void)
{

    auto gpiog = PeripheralFactory::instance()->createGPIOG();

    gpiog->ODR->ODR6.get();
    gpiog->ODR->ODR6.set();

    return 0;
}
