

#include "{{NAME}}.hpp"

using namespace Svd2cppObjects;
using namespace Svd2cppObjects::{{NAME}};

PeripheralFactory* PeripheralFactory::instance_ = nullptr;

int main(void)
{

    auto factory = PeripheralFactory::instance();
    factory->registerPeripherals();

    auto gpiog = *PeripheralFactory::instance()->derived<GPIO::GPIOG>(PeripheralFactory::GPIOG);

    gpiog->ODR->ODR6.get();
    gpiog->ODR->ODR6.set();

    return 0;
}
